#commentform {
    .form-group {
	    margin-bottom: 30px;
    }
    .form-control {
	    background-color: #fff;
        padding: 30px;
        border-radius: 0;
        border: none;
        resize: none;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}